body {
  padding: 20px;
}

#main {
  color: #666;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}

#start {
  width: 100%;
}

#result {
  border: 1px solid #d7dae2;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 20px 0px;
}

#main .el-form-item {
  margin-bottom: 10px;
}

#main .el-select {
  width: 100%;
}

/* 隐藏数字输入框上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}