body {
  padding: 20px;
}

#main {
  color: #666;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}

#start {
  width: 100%;
}

#result {
  min-height: 300px;
  border: 1px solid #d7dae2;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 20px 0px;
}

#main .el-form-item {
  margin-bottom: 10px;
}

#main .el-select {
  width: 100%;
}

.text-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 5px;
}
.text-button.pass {
  color: green;
}
.text-button.fail {
  color: red;
}
.text-button.active {
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

/* 隐藏数字输入框上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}