<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>宴会跑分</title>
  <link rel="stylesheet" href="./ele/index.css">
  <link rel="stylesheet" href="./css/index.css?v=3">
</head>

<body>
  <div id="main">
    <el-form label-width="90px">
      <el-form-item label="数据ID：">
        <el-input v-model="userId" type="number" placeholder="白菜菊花数据ID，仅首次使用需要" size="small"></el-input>
      </el-form-item>
      <el-form-item label="规则：">
        <el-select v-model="ruleId" placeholder="请选择规则" size="small">
          <el-option v-for="item of rules" :label="item.title" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="期望分数">
        <el-input v-model="passline" type="number" placeholder="期望获得的分数，必填" size="small"></el-input>
      </el-form-item>
      <el-form-item label="迭代次数">
        <el-col :span="11">
          <el-input v-model="iterChef" type="number" placeholder="厨师，必填" size="small"></el-input>
        </el-col>
        <el-col :span="2" style="text-align: center;">
          *
        </el-col>
        <el-col :span="11">
          <el-input v-model="iterRep" type="number" placeholder="菜谱，必填" size="small"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="线程数">
        <el-col :xs="8" :sm="11" :md="11">
          <el-input v-model="threadCnt" type="number" :max="cpuCnt" :min="1" placeholder="默认CPU核数，可调小" size="small"></el-input>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2">&nbsp;</el-col>
        <el-col :xs="14" :sm="11" :md="11">
          <el-switch v-model="allowTool" active-text="使用厨具"></el-switch>
        </el-col>
      </el-form-item>
    </el-form>
    <el-button id="start" @click="doRun" size="small" type="primary" :loading="disable">开始</el-button>
    <div id="result">
      <div class="placeholder" v-if="log.length == 0">
        <div style="margin-bottom: 20px;">需要配合白菜菊花上传个人数据使用，白菜菊花【宴会跑分】页有详细使用说明。</div>
        <div>
          最近更新（2025-01-01 19:00）：
          <br/>1. 更新新池厨师菜谱数据
        </div>
      </div>
      <div v-for="item of log">{{item}}</div>
      <div v-if="progress.length > scores.length" style="margin-top: 10px; max-width: 350px;">
        <div v-show="false">{{progressShow}}</div>
        <el-progress v-for="item of progress" :percentage="item"></el-progress>
      </div>
      <div v-show="scores.length > 0" style="margin: 10px 0;">
        <span>分数列表：</span>
        <div v-for="(item, idx) of scores"
          class="text-button"
          :class="(item >= passline ? 'pass' : 'fail') + (idx == rstShowId ? ' active' : '')"
          type="text" @click="rstShowId = idx">{{item}}</div>
      </div>
      <div v-show="scores.length > 0">
        <div style="margin-bottom: 10px;">
          <el-radio-group v-model="resultType" size="mini">
            <el-radio-button label="default">默认</el-radio-button>
            <el-radio-button label="simple">简略</el-radio-button>
            <el-radio-button label="detail">详细</el-radio-button>
          </el-radio-group>
        </div>
        <div v-if="resultType == 'default'" v-for="(item, idx) of results" v-show="idx == rstShowId">
          <div v-for="i of item">{{i}}</div>
        </div>
        <div v-if="resultType == 'simple'" v-for="(item, idx) of resultsSimple" v-show="idx == rstShowId">
          <div v-for="i of item">{{i}}</div>
        </div>
        <div v-if="resultType == 'detail'" v-for="(item, idx) of resultsDeatil" v-show="idx == rstShowId">
          <div v-for="i of item">{{i}}</div>
        </div>
      </div>
    </div>
    <div id="sign">by ajdx（核心算法）、小鱼（交互页面）</div>
  </div>
</body>
<script src="./js/vue.min.js"></script>
<script src="./ele/index.js"></script>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/index.js?v=21"></script>

</html>